# Query Kafka Streams with Trino

In [1]:
%load_ext sql
%sql trino://admin@localhost:8080/default
%sql SHOW CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('kafka',), ('postgres',), ('system',)]

In [5]:
%sql USE kafka.demo

 * trino://admin@localhost:8080/default
Done.

[]

In [6]:
%sql show tables

 * trino://admin@localhost:8080/default
Done.

[('fake_social_media',)]

In [7]:
%sql select count(*) from fake_social_media

 * trino://admin@localhost:8080/default
Done.

[(20,)]

In [8]:
%sql select * from fake_social_media limit 2

 * trino://admin@localhost:8080/default
Done.

[('tthompson', 'Around expect sometimes station behavior. Rule thing plant over fund direction. Three today first.', 608, 23, 378, datetime.datetime(2024, 3, 16, 1, 12, 57, 793000), 0, 0, False, '{"username": "tthompson", "post_content": "Around expect sometimes station behavior. Rule thing plant over fund direction. Three today first.", "likes": 608, "comments": 23, "shares": 378, "timestamp": "2024-03-16T01:12:57.793"}', {}, 228, False, None, 0, datetime.datetime(2024, 4, 20, 13, 31, 41, 352000)),
 ('gberry', 'Service color everybody let. Stage hard sign boy financial study. Entire smile final.\nGame heart discuss reflect item. Team help loss.', 291, 53, 247, datetime.datetime(2024, 2, 16, 18, 49, 48, 178000), 0, 1, False, '{"username": "gberry", "post_content": "Service color everybody let. Stage hard sign boy financial study. Entire smile final.\\nGame heart discuss reflect item. Team help loss.", "likes": 291, "comments": 53, "shares": 247, "timestamp": "2024-02-16T18:49:48.178"}', {}, 262, False, None, 0, datetime.datetime(2024, 4, 20, 13, 31, 41, 353000))]