# Query Kafka Streams with Trino and INsert Data into Posgres

In [18]:
%load_ext sql
%sql trino://admin@localhost:8080/default
%sql SHOW CATALOGS
%sql USE kafka.demo
%sql show tables

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.
 * trino://admin@localhost:8080/default
Done.

[('fake_social_media',)]

In [23]:
%sql select count(*) from fake_social_media

 * trino://admin@localhost:8080/default
Done.

[(40,)]

# Create a Table in Posgres

In [21]:
%%sql 
CREATE TABLE postgres.public.social_media (
    username VARCHAR,
    post_content VARCHAR,
    likes INTEGER,
    comments INTEGER,
    shares INTEGER,
    timestamp TIMESTAMP
)

 * trino://admin@localhost:8080/default
Done.

[]

# Insert data into Postgres Incrementally based on timestamp

In [27]:
%%sql 
INSERT INTO postgres.public.social_media
SELECT
    username,
    post_content,
    likes,
    comments,
    shares,
    _timestamp
FROM
    kafka.demo.fake_social_media
WHERE
    _timestamp > (SELECT COALESCE(MAX(timestamp), TIMESTAMP '1970-01-01 00:00:00') FROM postgres.public.social_media)

 * trino://admin@localhost:8080/default
0 rows affected.

[(0,)]